
*.ini

*.bak

__pycache__/

contrib/

*.pdf

*.txt

*.aux

*.idx

*.ilg

*.log

*.out

*.list

background/

book_cover/

liste_participants/

make-book/

make-contrib/

Poster/

LOGOS/

input_foreword/
